@font-face {
    font-family: 'fixedsys';
    src: url('fonts/fsex300-webfont.eot');
    src: url('fonts/fsex300-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/fsex300-webfont.woff') format('woff'),
    url('fonts/fsex300-webfont.ttf') format('truetype'),
    url('fonts/fsex300-webfont.svg#fixedsys') format('svg');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: none;
    font-smooth: never;
}

* {
	font-family: 'fixedsys', sans-serif;
	user-select: none;
}

body {
	background-color: teal;
	height: 100vh;
	margin: 0px;

	display: flex;
	flex-direction: column;
}

#screen {
	height: 100%;
	overflow: hidden;
}

.window {
	border: 6px ridge rgb(196, 196, 196);
	background-color: black;
	color: white;
	width: 720px;
	height: 480px;
	margin: 8px;

	display: flex;
	flex-direction: column;
}

.winbar {
	background-color: blue;
	background-image: linear-gradient(to right, blue, steelblue);
	border-bottom: 6px ridge rgb(196, 196, 196);
	color: white;
	height: 16px;
	padding: 2px;

	display: flex;
	flex-direction: row;
}

.controlB {
	font-size: 12px;
	font-weight: bolder;
	background-color: lightgray;
	color: black;
	border: 2px outset rgb(196, 196, 196);;
	width: 16px;
	height: 16px;
	margin: 1px 0.5px;
	line-height: 8px;

	display: flex;
	justify-content: center;
	box-sizing: border-box;
}

.controlB:active {
	border-style: inset;
}

#closeWindow {
	margin: 1px 0px;
	margin-left: 2px;
}

.spacer {
	flex: 1;
}

.cmdIcon {
	width: 16px;
	height: 16px;
	margin-right: 1px;
}

#cmdExe {
	width: 64px;
	height: 64px;
	margin: 8px;
	padding: 8px;
	text-align: center;
	
	z-index: -1;
	
	position: absolute;
	top: 0px;
}

#consoleContent {
	background-color: black;
	height: 100%;
	padding: 0px 2px;
	user-select: text;

	word-wrap: break-word;
	overflow-y: auto;
}

#consoleContent::selection {
	background-color: white;
	color: black;
}

#taskbar {
	background-color: lightgrey;
	height: 40px;
	width: 100%;
	border: 4px outset rgb(196, 196, 196);
	padding: 2px;

	display: flex;
	flex-direction: row;
	justify-content: unset;
	align-content: center;

	box-sizing: border-box;
}

.taskItems {
	background-color: rgb(195, 195, 195);
	width: 96px;
	border: 2px inset rgb(196, 196, 196);
	padding: 2px;

	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}

#tabs {
	flex-grow: 1;

	display: flex;
}

#commandPromptTab {
	width: 196px;
	height: 24px;
	border: 2px inset rgb(196, 196, 196);
	border-radius: 2px;
	padding-left: 2px;
	margin: auto 4px;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

#startMenu {
	font-weight: bold;
	border: 2px outset rgb(196, 196, 196);
	border-radius: 2px;

	display: flex;
	flex-direction: row;
}

#startMenu:hover {
	background-color: rgb(224, 224, 224);
	border-style: inset;
}

#logo {
	width: 20px;
	height: 20px;
	margin: 2px;
	margin-right: 4px;
}

#startText {
	font-size: large;
	margin: 2px;
}

.taskItem {
	margin: 1px;
}

#clock {
	font-weight: lighter;

	display: flex;
	flex-direction: row;
}

#network {
	width: 20px;
	height: 20px;
}

#bsod {
	font-weight: lighter;
	background-color: blue;
	color: white;

	display: none;
}

/* hide windows */
@media screen and (max-width: 746px) {
	.window {
		display: none;
	}

	#cmdExe {
		z-index: 0;
	}

	#commandPromptTab {
		border-style: outset;
	}
}

/* 372px absolute minimum */
@media screen and (max-width: 420px) {
	html {
		background-color: blue;
	}

	body {
		display: initial;
	}

	#bsod {
		display: block;
	}

	#screen {
		display: none;
	}

	#cmdExe {
		display: none;
	}

	#taskbar {
		display: none;
	}
}